.p-skills {
  background: #c5d1d9;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  z-index: 10;

  &__wrapper {
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    @include mq(sm) {
      width: 90%;
    }
  }
  &__item {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1.5rem 1rem 0rem 1rem;
    margin-bottom: 2.5rem;
  }
}
